@import "tailwindcss";

:root {
  --page-bg: #ffffff;
}

html.dark {
  --page-bg: #0f172a; 
  --text:white;


}
body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--page-bg);
  color:var(--text);
  transition: background-color 0.3s ease;
}
.logo{
  filter: invert(100%);
}
/* .discount{
 filter: invert(100%);
} */